<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.common.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.metro.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.dataviz.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.dataviz.metro.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js"></script><style type="text/css"></style>
    <script src="http://cdn.kendostatic.com/2013.3.1119/js/kendo.timezones.min.js"></script>
  </head>
  <body>
    {{>header}}
    <h1>{{ title }}</h1>

    <div class='files'>Found {{filelist.length}} files:<br>
      <ul>
      {{#filelist}}
      <li><a href="{{fpath}}{{.}}">{{.}}</a></li>
      {{/filelist}}
      </ul>
      <a href="/kendo/upload.html">Upload file(s).</a>
    </div>
    {{>footer}}
  </body>
</html>
